In [19]:
import os
import sys
import gc
import glob
import time
from os import listdir

import tqdm
from typing import Dict

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score

import numpy as np
import pandas as pd

In [20]:
folder_path = '/Users/hesu/Documents/KT/riiid/'
train_csv = folder_path + 'train.csv'
test_csv =  folder_path + 'example_test.csv'
lec_csv  =  folder_path + 'lectures.csv'
que_csv =   folder_path + 'questions.csv'
sample_csv =    folder_path + 'example_sample_submission.csv'

data_types_dict = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int32',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
     'user_answer': 'int8',
    'answered_correctly': 'int8',
    'prior_question_elapsed_time': 'float',
    'prior_question_had_explanation': 'boolean'
}

In [21]:
train_df = pd.read_csv(train_csv, 
                       nrows=1000000)

question_df = pd.read_csv(que_csv)

In [22]:
train_df = pd.merge(train_df, question_df, left_on='content_id', right_on='question_id',how='left')

In [23]:
train_df.drop(['question_id'], axis=1)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,bundle_id,correct_answer,part,tags
0,0,0,115,5692,0,1,3,1,NaN,NaN,5692.0,3.0,5.0,151
1,1,56943,115,5716,0,2,2,1,37000.0,False,5716.0,2.0,5.0,168
2,2,118363,115,128,0,0,0,1,55000.0,False,128.0,0.0,1.0,131 149 92
3,3,131167,115,7860,0,3,0,1,19000.0,False,7860.0,0.0,1.0,131 104 81
4,4,137965,115,7922,0,4,1,1,11000.0,False,7922.0,1.0,1.0,131 149 92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,26482248,20949024,8803,0,29,1,1,14000.0,True,8803.0,1.0,5.0,170
999996,999996,26516686,20949024,4664,0,30,3,1,17000.0,True,4664.0,3.0,5.0,34
999997,999997,26537967,20949024,4108,0,31,1,0,18000.0,True,4108.0,0.0,5.0,23
999998,999998,26590240,20949024,5014,0,32,3,0,6000.0,True,5014.0,0.0,5.0,181
999999,999999,26605316,20949024,9828,0,33,0,0,46000.0,True,9828.0,2.0,5.0,73

In [24]:
train_df = train_df[train_df.content_type_id==False]
train_df = train_df.sort_values(['timestamp'], ascending=True).reset_index(drop=True)
train_df.head(10)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part,tags
0,0,0,115,5692,0,1,3,1,NaN,NaN,5692.0,5692.0,3.0,5.0,151
1,924336,0,19437777,7900,0,0,0,1,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
2,722435,0,15244238,4356,0,0,1,1,NaN,NaN,4356.0,4356.0,1.0,5.0,14
3,722405,0,15240250,7900,0,0,2,0,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
4,32725,0,786789,7900,0,0,0,1,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
5,403313,0,7872136,7900,0,0,0,1,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
6,403383,0,7876172,7900,0,0,0,1,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
7,32777,0,800824,5346,0,0,3,0,NaN,NaN,5346.0,5346.0,1.0,5.0,55
8,722064,0,15238770,7900,0,0,1,0,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
9,171161,0,3646751,8494,0,0,2,0,NaN,NaN,8494.0,8494.0,1.0,5.0,108

In [25]:
len(train_df)

980093

In [26]:
train_df["content_id"] = train_df["content_id"].astype('str')
train_df["prior_question_elapsed_time"] = train_df["prior_question_elapsed_time"].astype('str')
train_df["prior_question_had_explanation"] = train_df["prior_question_had_explanation"].astype('str')
train_df["part"] = train_df["part"].astype('str')
train_df["answered_correctly"] = train_df["answered_correctly"].astype('str')

In [27]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980093 entries, 0 to 980092
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   row_id                          980093 non-null  int64
 1   timestamp                       980093 non-null  int64
 2   user_id                         980093 non-null  int64
 3   content_id                      980093 non-null  object
 4   content_type_id                 980093 non-null  int64
 5   task_container_id               980093 non-null  int64
 6   user_answer                     980093 non-null  int64
 7   answered_correctly              980093 non-null  object
 8   prior_question_elapsed_time     980093 non-null  object
 9   prior_question_had_explanation  980093 non-null  object
 10  question_id                     980093 non-null  float64
 11  bundle_id                       980093 non-null  float64
 12  correct_answer                  980093 non-null  float64
 13  part                            980093 non-null  object
 14  tags                            980093 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 112.2+ MB

In [64]:
result_user3 =  train_df.groupby('user_id')
combine = result_user3.agg({'content_id':','.join, 'answered_correctly':','.join,'part':','.join,
                            'prior_question_elapsed_time':','.join}).reset_index()

In [65]:
type(combine)

pandas.core.frame.DataFrame

In [66]:
combine.columns = ['all_content_id','all_answer','all_part','all_prior_elapsed']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

In [67]:
combine.head(10)

,user_id,content_id,answered_correctly,part,prior_question_elapsed_time
0,115,"5692,5716,128,7860,7922,156,51,50,7896,7863,15...","1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,0,1,1,0,0,0,...","5.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....","nan,37000.0,55000.0,19000.0,11000.0,5000.0,170..."
1,124,"7900,7876,175,1278,2063,2064,2065,3364,3365,33...","1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,...","1.0,1.0,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4....","nan,26000.0,29000.0,26000.0,18000.0,18000.0,18..."
2,2746,"5273,758,5976,236,404,382,405,873,531,775,294,...","0,0,0,1,0,1,1,1,1,0,1,1,0,1,0,1,1,0,1","5.0,2.0,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2....","nan,28000.0,17000.0,24000.0,20000.0,16000.0,16..."
3,5382,"5000,3944,217,5844,5965,4990,5235,6050,5721,55...","1,0,1,0,1,1,1,1,0,0,0,1,0,1,1,1,1,0,1,1,0,0,0,...","5.0,5.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1....","nan,24000.0,35000.0,88000.0,18000.0,12000.0,50..."
4,8623,"3915,4750,6456,3968,6104,5738,6435,5498,6102,4...","1,1,1,1,1,1,1,0,0,1,1,0,0,1,1,0,1,1,1,0,0,1,1,...","5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,2....","nan,16000.0,33000.0,30000.0,40000.0,35000.0,30..."
5,8701,"3901,6671,4963,6143,8279,3964,4002,754,1110,77...","1,1,1,0,1,0,0,0,1,0,0,1,1,1,0,1,1","5.0,5.0,5.0,5.0,5.0,5.0,5.0,2.0,2.0,2.0,2.0,2....","nan,13000.0,15000.0,24000.0,25000.0,44000.0,17..."
6,12741,"5145,9691,9697,5202,4787,5695,7858,5653,5889,4...","0,1,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,...","5.0,5.0,5.0,5.0,5.0,5.0,1.0,5.0,5.0,5.0,5.0,6....","nan,13000.0,18000.0,29000.0,35000.0,15000.0,21..."
7,13134,"3926,564,3865,4231,3684,3988,3968,5219,4447,61...","1,0,0,1,1,0,0,1,1,0,1,1,1,0,1,1,0,1,0,1,0,1,1,...","5.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5....","nan,22000.0,18000.0,19000.0,13000.0,43000.0,65..."
8,24418,"7900,7876,175,1278,2063,2064,2065,3363,3365,33...","0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,1,1,...","1.0,1.0,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4....","nan,30000.0,20000.0,24000.0,17000.0,17000.0,17..."
9,24600,"7900,7876,175,1278,2063,2064,2065,3365,3363,33...","1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,...","1.0,1.0,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4....","nan,24000.0,23000.0,22000.0,18000.0,18000.0,18..."

In [68]:
len(combine)

3824

In [69]:
train_df.nunique(axis=0)

row_id                            980093
timestamp                         749458
user_id                             3824
content_id                         13076
content_type_id                        1
task_container_id                   7740
user_answer                            4
answered_correctly                     2
prior_question_elapsed_time         1660
prior_question_had_explanation         3
question_id                        13076
bundle_id                           9527
correct_answer                         4
part                                   7
tags                                1501
dtype: int64

In [70]:
print(type(combine))

<class 'pandas.core.frame.DataFrame'>

In [71]:
combine.head(10)

,user_id,content_id,answered_correctly,part,prior_question_elapsed_time
0,115,"5692,5716,128,7860,7922,156,51,50,7896,7863,15...","1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,0,1,1,0,0,0,...","5.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....","nan,37000.0,55000.0,19000.0,11000.0,5000.0,170..."
1,124,"7900,7876,175,1278,2063,2064,2065,3364,3365,33...","1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,...","1.0,1.0,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4....","nan,26000.0,29000.0,26000.0,18000.0,18000.0,18..."
2,2746,"5273,758,5976,236,404,382,405,873,531,775,294,...","0,0,0,1,0,1,1,1,1,0,1,1,0,1,0,1,1,0,1","5.0,2.0,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2....","nan,28000.0,17000.0,24000.0,20000.0,16000.0,16..."
3,5382,"5000,3944,217,5844,5965,4990,5235,6050,5721,55...","1,0,1,0,1,1,1,1,0,0,0,1,0,1,1,1,1,0,1,1,0,0,0,...","5.0,5.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1....","nan,24000.0,35000.0,88000.0,18000.0,12000.0,50..."
4,8623,"3915,4750,6456,3968,6104,5738,6435,5498,6102,4...","1,1,1,1,1,1,1,0,0,1,1,0,0,1,1,0,1,1,1,0,0,1,1,...","5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,2....","nan,16000.0,33000.0,30000.0,40000.0,35000.0,30..."
5,8701,"3901,6671,4963,6143,8279,3964,4002,754,1110,77...","1,1,1,0,1,0,0,0,1,0,0,1,1,1,0,1,1","5.0,5.0,5.0,5.0,5.0,5.0,5.0,2.0,2.0,2.0,2.0,2....","nan,13000.0,15000.0,24000.0,25000.0,44000.0,17..."
6,12741,"5145,9691,9697,5202,4787,5695,7858,5653,5889,4...","0,1,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,...","5.0,5.0,5.0,5.0,5.0,5.0,1.0,5.0,5.0,5.0,5.0,6....","nan,13000.0,18000.0,29000.0,35000.0,15000.0,21..."
7,13134,"3926,564,3865,4231,3684,3988,3968,5219,4447,61...","1,0,0,1,1,0,0,1,1,0,1,1,1,0,1,1,0,1,0,1,0,1,1,...","5.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5....","nan,22000.0,18000.0,19000.0,13000.0,43000.0,65..."
8,24418,"7900,7876,175,1278,2063,2064,2065,3363,3365,33...","0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,1,1,...","1.0,1.0,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4....","nan,30000.0,20000.0,24000.0,17000.0,17000.0,17..."
9,24600,"7900,7876,175,1278,2063,2064,2065,3365,3363,33...","1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,...","1.0,1.0,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4....","nan,24000.0,23000.0,22000.0,18000.0,18000.0,18..."

In [81]:
d = dict()
index = 0
for row in combine.itertuples():
    cid = getattr(row, 'prior_question_elapsed_time')
#     print(cid)
    splits = str(cid).strip().split(',')
    for split in splits:
        if split in d.keys():
            continue
        d[split] = index
        index += 1
d['unknown'] = index+1

In [82]:
d

{'nan': 0,
 '37000.0': 1,
 '55000.0': 2,
 '19000.0': 3,
 '11000.0': 4,
 '5000.0': 5,
 '17000.0': 6,
 '16000.0': 7,
 '22000.0': 8,
 '23000.0': 9,
 '21000.0': 10,
 '24000.0': 11,
 '20000.0': 12,
 '18000.0': 13,
 '29000.0': 14,
 '15000.0': 15,
 '14333.0': 16,
 '26000.0': 17,
 '33333.0': 18,
 '21666.0': 19,
 '32000.0': 20,
 '27000.0': 21,
 '14000.0': 22,
 '7000.0': 23,
 '6500.0': 24,
 '28000.0': 25,
 '13000.0': 26,
 '35000.0': 27,
 '88000.0': 28,
 '12000.0': 29,
 '92000.0': 30,
 '70000.0': 31,
 '79000.0': 32,
 '66000.0': 33,
 '30000.0': 34,
 '34000.0': 35,
 '25000.0': 36,
 '78000.0': 37,
 '36000.0': 38,
 '43000.0': 39,
 '38000.0': 40,
 '64000.0': 41,
 '61000.0': 42,
 '82000.0': 43,
 '33000.0': 44,
 '50000.0': 45,
 '9000.0': 46,
 '57000.0': 47,
 '85000.0': 48,
 '81000.0': 49,
 '53000.0': 50,
 '49000.0': 51,
 '90000.0': 52,
 '48000.0': 53,
 '62000.0': 54,
 '51000.0': 55,
 '93000.0': 56,
 '201000.0': 57,
 '41000.0': 58,
 '72000.0': 59,
 '39000.0': 60,
 '54000.0': 61,
 '40000.0': 62,
 '46000.0': 63,
 '77000.0': 64,
 '58400.0': 65,
 '74600.0': 66,
 '10000.0': 67,
 '95000.0': 68,
 '58000.0': 69,
 '44000.0': 70,
 '20500.0': 71,
 '25750.0': 72,
 '25250.0': 73,
 '56500.0': 74,
 '74800.0': 75,
 '31000.0': 76,
 '161000.0': 77,
 '42000.0': 78,
 '45000.0': 79,
 '37500.0': 80,
 '40250.0': 81,
 '78200.0': 82,
 '70666.0': 83,
 '64599.0': 84,
 '27250.0': 85,
 '33750.0': 86,
 '40750.0': 87,
 '32666.0': 88,
 '26333.0': 89,
 '30333.0': 90,
 '24333.0': 91,
 '26666.0': 92,
 '27333.0': 93,
 '39750.0': 94,
 '36750.0': 95,
 '70600.0': 96,
 '35666.0': 97,
 '51800.0': 98,
 '75400.0': 99,
 '23666.0': 100,
 '31666.0': 101,
 '28666.0': 102,
 '25333.0': 103,
 '50500.0': 104,
 '33250.0': 105,
 '32750.0': 106,
 '103400.0': 107,
 '56600.0': 108,
 '65000.0': 109,
 '29333.0': 110,
 '2000.0': 111,
 '8000.0': 112,
 '4000.0': 113,
 '28333.0': 114,
 '21333.0': 115,
 '34666.0': 116,
 '31333.0': 117,
 '25666.0': 118,
 '24750.0': 119,
 '30666.0': 120,
 '24666.0': 121,
 '23333.0': 122,
 '37666.0': 123,
 '22333.0': 124,
 '27666.0': 125,
 '6000.0': 126,
 '3000.0': 127,
 '22666.0': 128,
 '38666.0': 129,
 '29666.0': 130,
 '32250.0': 131,
 '12750.0': 132,
 '52000.0': 133,
 '36333.0': 134,
 '59000.0': 135,
 '44333.0': 136,
 '84000.0': 137,
 '32333.0': 138,
 '1666.0': 139,
 '1333.0': 140,
 '1750.0': 141,
 '60000.0': 142,
 '47000.0': 143,
 '31250.0': 144,
 '33500.0': 145,
 '35500.0': 146,
 '23250.0': 147,
 '38750.0': 148,
 '38500.0': 149,
 '45500.0': 150,
 '35250.0': 151,
 '40500.0': 152,
 '34750.0': 153,
 '19666.0': 154,
 '20666.0': 155,
 '41750.0': 156,
 '29750.0': 157,
 '26250.0': 158,
 '16750.0': 159,
 '20333.0': 160,
 '28750.0': 161,
 '26750.0': 162,
 '16500.0': 163,
 '35750.0': 164,
 '83000.0': 165,
 '32500.0': 166,
 '25500.0': 167,
 '34500.0': 168,
 '20250.0': 169,
 '26500.0': 170,
 '34250.0': 171,
 '42250.0': 172,
 '5333.0': 173,
 '37250.0': 174,
 '19750.0': 175,
 '29500.0': 176,
 '12500.0': 177,
 '1000.0': 178,
 '37750.0': 179,
 '19333.0': 180,
 '30250.0': 181,
 '30750.0': 182,
 '30500.0': 183,
 '24250.0': 184,
 '38250.0': 185,
 '28500.0': 186,
 '78500.0': 187,
 '2500.0': 188,
 '3750.0': 189,
 '41250.0': 190,
 '27500.0': 191,
 '39500.0': 192,
 '2666.0': 193,
 '4666.0': 194,
 '18666.0': 195,
 '21250.0': 196,
 '21500.0': 197,
 '31500.0': 198,
 '2333.0': 199,
 '22250.0': 200,
 '4500.0': 201,
 '3333.0': 202,
 '48250.0': 203,
 '31750.0': 204,
 '2750.0': 205,
 '45750.0': 206,
 '3250.0': 207,
 '88600.0': 208,
 '75800.0': 209,
 '63000.0': 210,
 '71400.0': 211,
 '52500.0': 212,
 '27750.0': 213,
 '42400.0': 214,
 '44800.0': 215,
 '62200.0': 216,
 '60400.0': 217,
 '47200.0': 218,
 '60600.0': 219,
 '53500.0': 220,
 '19500.0': 221,
 '73400.0': 222,
 '38800.0': 223,
 '68200.0': 224,
 '48500.0': 225,
 '55800.0': 226,
 '62400.0': 227,
 '61200.0': 228,
 '43200.0': 229,
 '50750.0': 230,
 '22750.0': 231,
 '36250.0': 232,
 '52400.0': 233,
 '41500.0': 234,
 '49666.0': 235,
 '66400.0': 236,
 '66600.0': 237,
 '41333.0': 238,
 '35400.0': 239,
 '72600.0': 240,
 '65400.0': 241,
 '58200.0': 242,
 '56200.0': 243,
 '57400.0': 244,
 '36666.0': 245,
 '54200.0': 246,
 '38400.0': 247,
 '122200.0': 248,
 '55333.0': 249,
 '46333.0': 250,
 '27800.0': 251,
 '40800.0': 252,
 '15333.0': 253,
 '51250.0': 254,
 '33666.0': 255,
 '69000.0': 256,
 '52750.0': 257,
 '73500.0': 258,
 '28250.0': 259,
 '54750.0': 260,
 '66250.0': 261,
 '62500.0': 262,
 '44750.0': 263,
 '300000.0': 264,
 '67000.0': 265,
 '96000.0': 266,
 '45333.0': 267,
 '244000.0': 268,
 '16666.0': 269,
 '17333.0': 270,
 '12333.0': 271,
 '34333.0': 272,
 '29250.0': 273,
 '45250.0': 274,
 '43250.0': 275,
 '42500.0': 276,
 '9500.0': 277,
 '15250.0': 278,
 '21750.0': 279,
 '56000.0': 280,
 '74000.0': 281,
 '44250.0': 282,
 '74500.0': 283,
 '63500.0': 284,
 '56750.0': 285,
 '80000.0': 286,
 '57800.0': 287,
 '67800.0': 288,
 '89800.0': 289,
 '68800.0': 290,
 '52250.0': 291,
 '15666.0': 292,
 '37333.0': 293,
 '14666.0': 294,
 '15500.0': 295,
 '67500.0': 296,
 '65200.0': 297,
 '18333.0': 298,
 '13666.0': 299,
 '16333.0': 300,
 '11666.0': 301,
 '64800.0': 302,
 '46250.0': 303,
 '24500.0': 304,
 '58500.0': 305,
 '68000.0': 306,
 '38333.0': 307,
 '39333.0': 308,
 '110000.0': 309,
 '98000.0': 310,
 '73000.0': 311,
 '90333.0': 312,
 '77500.0': 313,
 '109400.0': 314,
 '79200.0': 315,
 '32800.0': 316,
 '64400.0': 317,
 '35333.0': 318,
 '12666.0': 319,
 '17666.0': 320,
 '76000.0': 321,
 '71000.0': 322,
 '199200.0': 323,
 '199000.0': 324,
 '94000.0': 325,
 '113000.0': 326,
 '116000.0': 327,
 '103000.0': 328,
 '189000.0': 329,
 '91000.0': 330,
 '66333.0': 331,
 '180000.0': 332,
 '144000.0': 333,
 '130000.0': 334,
 '118000.0': 335,
 '177000.0': 336,
 '165000.0': 337,
 '102000.0': 338,
 '105000.0': 339,
 '143000.0': 340,
 '108000.0': 341,
 '167000.0': 342,
 '151000.0': 343,
 '132000.0': 344,
 '190000.0': 345,
 '141000.0': 346,
 '164000.0': 347,
 '147000.0': 348,
 '127000.0': 349,
 '86000.0': 350,
 '275000.0': 351,
 '136000.0': 352,
 '104000.0': 353,
 '192000.0': 354,
 '56250.0': 355,
 '64600.0': 356,
 '63200.0': 357,
 '83200.0': 358,
 '47600.0': 359,
 '75333.0': 360,
 '80400.0': 361,
 '75500.0': 362,
 '69500.0': 363,
 '14250.0': 364,
 '36500.0': 365,
 '46500.0': 366,
 '50250.0': 367,
 '16250.0': 368,
 '54500.0': 369,
 '65750.0': 370,
 '92500.0': 371,
 '93667.0': 372,
 '58667.0': 373,
 '57600.0': 374,
 '57500.0': 375,
 '45400.0': 376,
 '27667.0': 377,
 '49800.0': 378,
 '93250.0': 379,
 '103800.0': 380,
 '58800.0': 381,
 '79600.0': 382,
 '126800.0': 383,
 '83750.0': 384,
 '57667.0': 385,
 '100600.0': 386,
 '87000.0': 387,
 '68250.0': 388,
 '59400.0': 389,
 '66800.0': 390,
 '15667.0': 391,
 '42333.0': 392,
 '49667.0': 393,
 '18750.0': 394,
 '10250.0': 395,
 '23500.0': 396,
 '67250.0': 397,
 '29800.0': 398,
 '43600.0': 399,
 '59600.0': 400,
 '53400.0': 401,
 '22500.0': 402,
 '75000.0': 403,
 '49500.0': 404,
 '50800.0': 405,
 '50600.0': 406,
 '19250.0': 407,
 '53750.0': 408,
 '14750.0': 409,
 '8666.0': 410,
 '10333.0': 411,
 '666.0': 412,
 '333.0': 413,
 '47500.0': 414,
 '41200.0': 415,
 '83500.0': 416,
 '51400.0': 417,
 '42750.0': 418,
 '54400.0': 419,
 '55750.0': 420,
 '17250.0': 421,
 '39250.0': 422,
 '7750.0': 423,
 '23750.0': 424,
 '11500.0': 425,
 '48750.0': 426,
 '12250.0': 427,
 '5750.0': 428,
 '17500.0': 429,
 '49250.0': 430,
 '5666.0': 431,
 '4333.0': 432,
 '6333.0': 433,
 '6666.0': 434,
 '9666.0': 435,
 '7333.0': 436,
 '51500.0': 437,
 '80600.0': 438,
 '63600.0': 439,
 '45666.0': 440,
 '17750.0': 441,
 '90250.0': 442,
 '3666.0': 443,
 '15750.0': 444,
 '47750.0': 445,
 '8333.0': 446,
 '13750.0': 447,
 '13500.0': 448,
 '55200.0': 449,
 '75250.0': 450,
 '46400.0': 451,
 '95800.0': 452,
 '85800.0': 453,
 '65600.0': 454,
 '13333.0': 455,
 '115500.0': 456,
 '55250.0': 457,
 '9750.0': 458,
 '66750.0': 459,
 '51750.0': 460,
 '54250.0': 461,
 '11333.0': 462,
 '1500.0': 463,
 '42800.0': 464,
 '67200.0': 465,
 '78600.0': 466,
 '14500.0': 467,
 '75600.0': 468,
 '70800.0': 469,
 '53600.0': 470,
 '40333.0': 471,
 '18250.0': 472,
 '60200.0': 473,
 '43750.0': 474,
 '39667.0': 475,
 '69400.0': 476,
 '40666.0': 477,
 '48666.0': 478,
 '45800.0': 479,
 '34600.0': 480,
 '49400.0': 481,
 '50200.0': 482,
 '6250.0': 483,
 '65800.0': 484,
 '61250.0': 485,
 '62800.0': 486,
 '31200.0': 487,
 '52800.0': 488,
 '65250.0': 489,
 '82600.0': 490,
 '149000.0': 491,
 '99000.0': 492,
 '114000.0': 493,
 '155000.0': 494,
 '106000.0': 495,
 '205000.0': 496,
 '138000.0': 497,
 '252000.0': 498,
 '175000.0': 499,
 '272000.0': 500,
 '231000.0': 501,
 '63750.0': 502,
 '29667.0': 503,
 '32667.0': 504,
 '26667.0': 505,
 '0.0': 506,
 '25667.0': 507,
 '54600.0': 508,
 '104400.0': 509,
 '19667.0': 510,
 '23667.0': 511,
 '196000.0': 512,
 '101000.0': 513,
 '160000.0': 514,
 '217000.0': 515,
 '126000.0': 516,
 '150000.0': 517,
 '139000.0': 518,
 '109000.0': 519,
 '181000.0': 520,
 '97000.0': 521,
 '121000.0': 522,
 '85500.0': 523,
 '68400.0': 524,
 '76200.0': 525,
 '47250.0': 526,
 '60750.0': 527,
 '48800.0': 528,
 '73250.0': 529,
 '156500.0': 530,
 '63400.0': 531,
 '53200.0': 532,
 '69800.0': 533,
 '37667.0': 534,
 '46800.0': 535,
 '24667.0': 536,
 '127400.0': 537,
 '56400.0': 538,
 '76400.0': 539,
 '20400.0': 540,
 '38600.0': 541,
 '14400.0': 542,
 '49200.0': 543,
 '20750.0': 544,
 '218000.0': 545,
 '39666.0': 546,
 '59500.0': 547,
 '37800.0': 548,
 '40200.0': 549,
 '74250.0': 550,
 '105333.0': 551,
 '89000.0': 552,
 '40600.0': 553,
 '13250.0': 554,
 '125000.0': 555,
 '667.0': 556,
 '750.0': 557,
 '78250.0': 558,
 '18500.0': 559,
 '47400.0': 560,
 '41666.0': 561,
 '60250.0': 562,
 '47333.0': 563,
 '76800.0': 564,
 '88800.0': 565,
 '43333.0': 566,
 '54666.0': 567,
 '78800.0': 568,
 '53333.0': 569,
 '67750.0': 570,
 '66500.0': 571,
 '44500.0': 572,
 '112333.0': 573,
 '90200.0': 574,
 '99800.0': 575,
 '64750.0': 576,
 '156000.0': 577,
 '98800.0': 578,
 '86600.0': 579,
 '109500.0': 580,
 '99200.0': 581,
 '73666.0': 582,
 '46750.0': 583,
 '84800.0': 584,
 '68750.0': 585,
 '88400.0': 586,
 '76250.0': 587,
 '251000.0': 588,
 '107000.0': 589,
 '88500.0': 590,
 '123200.0': 591,
 '209000.0': 592,
 '129000.0': 593,
 '226000.0': 594,
 '100000.0': 595,
 '123000.0': 596,
 '228000.0': 597,
 '157000.0': 598,
 '134000.0': 599,
 '210000.0': 600,
 '179000.0': 601,
 '96400.0': 602,
 '20667.0': 603,
 '64250.0': 604,
 '45200.0': 605,
 '30400.0': 606,
 '19600.0': 607,
 '37400.0': 608,
 '39800.0': 609,
 '10750.0': 610,
 '11750.0': 611,
 '34800.0': 612,
 '19200.0': 613,
 '188000.0': 614,
 '36400.0': 615,
 '45600.0': 616,
 '39400.0': 617,
 '43400.0': 618,
 '24600.0': 619,
 '29200.0': 620,
 '7500.0': 621,
 '270000.0': 622,
 '51333.0': 623,
 '5500.0': 624,
 '87400.0': 625,
 '69600.0': 626,
 '34400.0': 627,
 '152000.0': 628,
 '73750.0': 629,
 '198000.0': 630,
 '153000.0': 631,
 '43666.0': 632,
 '42666.0': 633,
 '46666.0': 634,
 '116400.0': 635,
 '101400.0': 636,
 '44666.0': 637,
 '85200.0': 638,
 '59250.0': 639,
 '60500.0': 640,
 '74666.0': 641,
 '61500.0': 642,
 '11250.0': 643,
 '72500.0': 644,
 '71750.0': 645,
 '7666.0': 646,
 '119000.0': 647,
 '61666.0': 648,
 '96800.0': 649,
 '69333.0': 650,
 '76500.0': 651,
 '90500.0': 652,
 '80500.0': 653,
 '80750.0': 654,
 '53250.0': 655,
 '59750.0': 656,
 '8750.0': 657,
 '70250.0': 658,
 '72750.0': 659,
 '79500.0': 660,
 '1250.0': 661,
 '117000.0': 662,
 '263000.0': 663,
 '146000.0': 664,
 '285000.0': 665,
 '280000.0': 666,
 '281000.0': 667,
 '140250.0': 668,
 '72250.0': 669,
 '126500.0': 670,
 '43500.0': 671,
 '111000.0': 672,
 '263250.0': 673,
 '150750.0': 674,
 '61750.0': 675,
 '65500.0': 676,
 '266000.0': 677,
 '186000.0': 678,
 '265000.0': 679,
 '115000.0': 680,
 '55500.0': 681,
 '5250.0': 682,
 '69200.0': 683,
 '116200.0': 684,
 '193000.0': 685,
 '9250.0': 686,
 '55666.0': 687,
 '77600.0': 688,
 '50333.0': 689,
 '48333.0': 690,
 '122000.0': 691,
 '131200.0': 692,
 '23200.0': 693,
 '73200.0': 694,
 '74333.0': 695,
 '16667.0': 696,
 '93800.0': 697,
 '60333.0': 698,
 '54800.0': 699,
 '28667.0': 700,
 '33667.0': 701,
 '18667.0': 702,
 '13667.0': 703,
 '22667.0': 704,
 '31667.0': 705,
 '36667.0': 706,
 '56666.0': 707,
 '72200.0': 708,
 '64200.0': 709,
 '30667.0': 710,
 '42667.0': 711,
 '71600.0': 712,
 '48667.0': 713,
 '44667.0': 714,
 '51667.0': 715,
 '49333.0': 716,
 '34667.0': 717,
 '69750.0': 718,
 '166600.0': 719,
 '117800.0': 720,
 '97400.0': 721,
 '49750.0': 722,
 '6750.0': 723,
 '136600.0': 724,
 '57750.0': 725,
 '9333.0': 726,
 '62250.0': 727,
 '62750.0': 728,
 '78750.0': 729,
 '57250.0': 730,
 '70500.0': 731,
 '135000.0': 732,
 '63800.0': 733,
 '36800.0': 734,
 '71800.0': 735,
 '44400.0': 736,
 '59800.0': 737,
 '55400.0': 738,
 '71200.0': 739,
 '42600.0': 740,
 '41800.0': 741,
 '62600.0': 742,
 '44600.0': 743,
 '31400.0': 744,
 '36600.0': 745,
 '212000.0': 746,
 '61400.0': 747,
 '269000.0': 748,
 '10500.0': 749,
 '33400.0': 750,
 '21400.0': 751,
 '61600.0': 752,
 '42200.0': 753,
 '8500.0': 754,
 '37200.0': 755,
 '35200.0': 756,
 '31800.0': 757,
 '47666.0': 758,
 '52333.0': 759,
 '26800.0': 760,
 '58250.0': 761,
 '48600.0': 762,
 '61800.0': 763,
 '79800.0': 764,
 '43800.0': 765,
 '203000.0': 766,
 '82400.0': 767,
 '85400.0': 768,
 '37600.0': 769,
 '77800.0': 770,
 '39200.0': 771,
 '81200.0': 772,
 '204000.0': 773,
 '246000.0': 774,
 '3500.0': 775,
 '95600.0': 776,
 '69250.0': 777,
 '197000.0': 778,
 '128000.0': 779,
 '213000.0': 780,
 '172000.0': 781,
 '70750.0': 782,
 '112000.0': 783,
 '67400.0': 784,
 '58600.0': 785,
 '10666.0': 786,
 '120000.0': 787,
 '67333.0': 788,
 '77200.0': 789,
 '107500.0': 790,
 '184000.0': 791,
 '36200.0': 792,
 '11400.0': 793,
 '171000.0': 794,
 '102200.0': 795,
 '148000.0': 796,
 '111500.0': 797,
 '211000.0': 798,
 '131000.0': 799,
 '144400.0': 800,
 '224000.0': 801,
 '82250.0': 802,
 '78400.0': 803,
 '104750.0': 804,
 '83800.0': 805,
 '61333.0': 806,
 '12667.0': 807,
 '119750.0': 808,
 '90750.0': 809,
 '75200.0': 810,
 '170000.0': 811,
 '58750.0': 812,
 '79400.0': 813,
 '89200.0': 814,
 '4750.0': 815,
 '4250.0': 816,
 '90800.0': 817,
 '262000.0': 818,
 '241000.0': 819,
 '115400.0': 820,
 '76600.0': 821,
 '71500.0': 822,
 '71250.0': 823,
 '89400.0': 824,
 '47800.0': 825,
 '50400.0': 826,
 '82800.0': 827,
 '99400.0': 828,
 '279000.0': 829,
 '174000.0': 830,
 '124000.0': 831,
 '64500.0': 832,
 '84500.0': 833,
 '97500.0': 834,
 '86750.0': 835,
 '113250.0': 836,
 '95750.0': 837,
 '114250.0': 838,
 '98250.0': 839,
 '111750.0': 840,
 '106750.0': 841,
 '79750.0': 842,
 '74750.0': 843,
 '96250.0': 844,
 '76750.0': 845,
 '63250.0': 846,
 '101500.0': 847,
 '75750.0': 848,
 '80200.0': 849,
 '66200.0': 850,
 '168000.0': 851,
 '145000.0': 852,
 '70200.0': 853,
 '103250.0': 854,
 '88200.0': 855,
 '59200.0': 856,
 '17667.0': 857,
 '176000.0': 858,
 '68600.0': 859,
 '72800.0': 860,
 '110400.0': 861,
 '92400.0': 862,
 '97600.0': 863,
 '89250.0': 864,
 '223000.0': 865,
 '142000.0': 866,
 '52667.0': 867,
 '21667.0': 868,
 '140000.0': 869,
 '239000.0': 870,
 '222000.0': 871,
 '261000.0': 872,
 '67600.0': 873,
 '95666.0': 874,
 '35667.0': 875,
 '38667.0': 876,
 '40667.0': 877,
 '103667.0': 878,
 '288000.0': 879,
 '158000.0': 880,
 '178000.0': 881,
 '77250.0': 882,
 '92600.0': 883,
 '80800.0': 884,
 '14600.0': 885,
 '278000.0': 886,
 '118200.0': 887,
 '86200.0': 888,
 '52666.0': 889,
 '103600.0': 890,
 '54333.0': 891,
 '74200.0': 892,
 '82666.0': 893,
 '56333.0': 894,
 '208000.0': 895,
 '88250.0': 896,
 '59667.0': 897,
 '55667.0': 898,
 '59333.0': 899,
 '91666.0': 900,
 '128500.0': 901,
 '101750.0': 902,
 '68500.0': 903,
 '91750.0': 904,
 '82500.0': 905,
 '77750.0': 906,
 '86400.0': 907,
 '92800.0': 908,
 '76666.0': 909,
 '129600.0': 910,
 '79333.0': 911,
 '94400.0': 912,
 '94600.0': 913,
 '88750.0': 914,
 '51600.0': 915,
 '154200.0': 916,
 '8250.0': 917,
 '7250.0': 918,
 '40400.0': 919,
 '12400.0': 920,
 '3200.0': 921,
 '183000.0': 922,
 '166000.0': 923,
 '83250.0': 924,
 '58666.0': 925,
 '105666.0': 926,
 '51666.0': 927,
 '39600.0': 928,
 '73600.0': 929,
 '51200.0': 930,
 '57200.0': 931,
 '52200.0': 932,
 '200000.0': 933,
 '271000.0': 934,
 '147667.0': 935,
 '187000.0': 936,
 '77333.0': 937,
 '133667.0': 938,
 '150333.0': 939,
 '110500.0': 940,
 '6667.0': 941,
 '41667.0': 942,
 '91600.0': 943,
 '95400.0': 944,
 '92200.0': 945,
 '91800.0': 946,
 '30200.0': 947,
 '207000.0': 948,
 '88666.0': 949,
 '41400.0': 950,
 '33200.0': 951,
 '43667.0': 952,
 '82200.0': 953,
 '46200.0': 954,
 '84600.0': 955,
 '293000.0': 956,
 '259000.0': 957,
 '159000.0': 958,
 '286000.0': 959,
 '258000.0': 960,
 '229000.0': 961,
 '100750.0': 962,
 '28800.0': 963,
 '14667.0': 964,
 '287333.0': 965,
 '202000.0': 966,
 '219000.0': 967,
 '73667.0': 968,
 '84200.0': 969,
 '125600.0': 970,
 '11667.0': 971,
 '10667.0': 972,
 '9667.0': 973,
 '63333.0': 974,
 '55600.0': 975,
 '87800.0': 976,
 '94250.0': 977,
 '143200.0': 978,
 '142600.0': 979,
 '53667.0': 980,
 '238200.0': 981,
 '248000.0': 982,
 '224600.0': 983,
 '90600.0': 984,
 '163000.0': 985,
 '195000.0': 986,
 '108800.0': 987,
 '130250.0': 988,
 '233000.0': 989,
 '114200.0': 990,
 '96500.0': 991,
 '117400.0': 992,
 '235000.0': 993,
 '294000.0': 994,
 '96600.0': 995,
 '48400.0': 996,
 '35600.0': 997,
 '154400.0': 998,
 '171600.0': 999,
 ...}

In [83]:
len(d)

1661

In [42]:
a = train_df.groupby('user_id').reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

   user_id  count
0      115     46
1      124     30
2     2746     19
3     5382    125
4     8623    109
5     8701     17
6    12741    265
7    13134   1243
8    24418   6283
9    24600     50

In [15]:
x = pd.DataFrame()

In [16]:
for i in range(15):
    last_records = train_df.drop_duplicates('user_id',keep='last')
    train_df = train_df[~train_df.index.isin(last_records.index)]
    x = x.append(last_records)

In [17]:
x.head(10)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part,tags
1433,965193,0,19887248,6368,0,0,3,0,nan,nan,6368.0,6368.0,2.0,5.0,134
2989,87415,0,1880240,192,0,0,1,1,nan,nan,192.0,192.0,1.0,1.0,131 104 38
4957,103084,22153,2148001,9320,0,1,0,0,21000.0,False,9320.0,9320.0,3.0,5.0,55
6989,783332,32301,15960740,7924,0,1,0,0,77000.0,False,7924.0,7924.0,2.0,1.0,131 40 38
8830,87902,48795,1946295,175,0,2,2,1,20000.0,False,175.0,175.0,2.0,1.0,9 10 92
10004,585088,55747,11814782,10395,0,10,0,0,3000.0,False,10395.0,10395.0,2.0,1.0,51 131 81
10243,24955,57373,457531,7216,0,15,0,0,750.0,False,7216.0,7216.0,3.0,7.0,97 50 21
11193,842626,64507,17465601,2595,0,7,3,0,1333.0,False,2595.0,2593.0,0.0,4.0,82 103 102
16243,158836,107800,3258925,880,0,11,0,1,0.0,False,880.0,880.0,0.0,2.0,69 137 88 162 38 81
16295,664658,108242,13483292,7219,0,15,1,0,2000.0,False,7219.0,7216.0,2.0,7.0,50 19 21

In [18]:
len(x)

56693